.container {

    background-image: url('../../assets/img/furbg.webp');
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 500px;
    align-items: center;
    width: 400px;
    margin: 10px;
    text-align: center;
    border: 1px solid white;
    line-height: 1.1;
}

.img {
    width: auto;
    height: 200px;
    padding: 10px;
    border-radius: 15px;
}

.detailDog{
    background-color: rgba(60, 54, 54, 0.367);
    padding: 5px;    
}

.linkDetailButton{
    margin:   20px;
}