.sortingOptions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color:#ccc;
    padding-left: 7rem;
  }
  
  .label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }