
.navBar {
    background: linear-gradient(to right, #41403d91, #726c679d);
    position:relative;    
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-left: auto;
    margin-right: auto;
    width: auto;    
  }

.navBar ul {
list-style: none;
display: flex; 
margin: 0;
padding: 0;
}

.navBar ul li a {
display: inline-block;
padding: 10px 20px;
background-color: #333;
color: white;
border-radius: 20px; /* Hace los botones redondeados */
text-decoration: none;
transition: background-color 0.3s ease-in-out;
margin: 0 8px;
}

.navBar ul li a:hover {
background-color: #555; /* Cambia el color al pasar el ratón */
}