body {
    
    /* margin: 0%;
    padding: 0%;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    width: 100%;
    padding-bottom: 20%;
    overflow-x: hidden; */
  }

  
  
  
  
.homeContainer {
  background-image: url('../../assets/img/furbg.webp'); 
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    /* display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el valor 
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none; */
  }
  
  
  .navContainer{
   position: relative;
   width: 100vw;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* position: relative;
    grid-column: span 1;
    background-color: rgba(70, 70, 70, 0.8);; 
    box-shadow: 0px 20px 20px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row; */
  }

  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  }
  .name {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #333;
  }
  
  .temperaments {
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  
  .image {
    object-fit: cover;
    object-position: right;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
  }