  .homeContainer {
    background-image: url('../../assets/img/furbg.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    width: 98.9vw;  
    
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
  }