@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body,
.landing-page {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.landing-page {
  background-image: url("../../assets/img/landingbg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: left;
  padding-left: 10%;
  padding-top: 1.5%;
}

.content {
  text-align: left;
  padding: 100px 0;
  justify-content: flex-start;
}

.text-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

.animated-text {
  margin: 0;
  font-size: 6rem;
  color: rgba(255, 255, 255, 0.01);
  background-image: url("../../assets/img/text.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text; /*esto es para asegurar la compatibilidad de navegadores*/
  animation: animateText 15s ease-in-out infinite;
  text-transform: uppercase;
  font-weight: 900;
  justify-content: flex-start;
}

@keyframes animateText {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button {
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: #fafafa;
  color: #44322a;
  border: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #44322a;
  color: #fafafa;
}