.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px !important; 
  }
  
  .paginationButton {
    padding: 4px 12px;
    border: none;
    background-color: #fafafa;
    color: #44322a;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 4px;
  }
  
  .paginationButton:hover {
    background-color: #44322a;
    color: #fafafa;
  }
  
  .pageInfo {
    margin: 0 20px;
    font-size: 16px;
    color: #333;
  }
  
  .pageNumber {
    color: #fafafa;
    padding-left: 250px;
  }
  
  .totalPages {
    color: #fafafa; 
  }
  .activePage {
    background-color: rgba(84, 74, 74, 0.999); /* Cambia el color de fondo para la página activa */
    color: #FAFAFA; /* Cambia el color del texto para la página activa */
  }