.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px !important; 
  }
  
  .paginationButton {
    padding: 8px 16px;
    border: none;
    background-color: #fafafa;
    color: #44322a;
    font-size: 16px;
    cursor: pointer;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .paginationButton:hover {
    background-color: #44322a;
    color: #fafafa;
  }
  
  .pageInfo {
    margin: 0 20px;
    font-size: 16px;
    color: #333;
  }
  
  .pageNumber {
    color: #fafafa;
    padding-left: 250px;
  }
  
  .totalPages {
    color: #fafafa; 
  }